<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>

    <div class="container-lg"><%- include('./partials/searchbar'); %></div>

    <main class="container-lg">
      <%- include('./partials/dstheader', { datasetData: dsData }); %> <%-
      include('./partials/dstdata', { datasetData: dsData, files: files }); %>

      <div class="mb-2"><%- include('./partials/comments', {comments: comments, datasetData: dsData}); %></div>
    </main>
  </body>

  <footer><%- include('./partials/footer'); %></footer>
</html>
