<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>

    <div class="container-lg"><%- include('./partials/searchbar'); %></div>

    <main class="container-lg">
      <h1 class="margin-y">Data sets</h1>
      <p>Lista de los data sets disponibles, agregados por los usuarios</p>

      <div class="button-container mb-2">
        <button
          type="button"
          class="btn btn-dark end-placement rounded-element"
          data-toggle="modal"
          data-target="#myModal"
        >
          + Agregar Dataset
        </button>
      </div>

      <%- include('./partials/addmodal'); %> <%-
      include('./partials/datasettable', {cuser: cuser}); %>
    </main>

    <footer class="fixed-bottom"><%- include('./partials/footer'); %></footer>
  </body>
</html>
