<body>
<h2>Comentarios</h2>
<!-- text field to add a comment -->
<form action='/addComment/<%= dsData.id %>' method="post" class="mb-4 row g-2">
  <label for="comment" class="col-form-label">Agrega un comentario</label>
  <div class="col-lg">
    <input name="comment" type="text" class="form-control rounded-element" id="comment" />
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-dark rounded-element">Comentar</button>
  </div>
</form>

  <h1>Comments</h1>
  <div>
    <% comments.forEach(function(result){  %>
      <div class="desc-dwnld">
        <div class="user">
          <img src="https://i.pravatar.cc/50" alt="user avatar" />
          <a href=""><span><%= result.username %></span></a>
        </div>
        <span class="text-muted"> <p><%= result.created_at %> </p>  </span>
      </div>
      <p>
        <% result.comment.split(' ').forEach((word) => { %>
          <% if (word.charAt(0) === '@') { %>
            <u><span style="color: blue;"><%= word %></span></u> 
          <% } else { %>
            <%= word %> 
          <% } %>
        <% }); %>
      </p>
    <% }) %>
    </div>
</body>


<!-- <% const comment = "This is a sample comment with an @exampleuser mention."; %>

<p><%= formatComment(comment) %></p>

<% function formatComment(comment) { %>
  <% const pattern = /@(\w+)/g; %>
  <% const formattedComment = comment.replace(pattern, '<a style="color: blue; text-decoration: underline;" href="/user/$1">@$1</a>'); %>
  <% return formattedComment; %>
<% } %>

