<body>
<h2>Comentarios</h2>
<!-- text field to add a comment -->
<form action='/addComment/<%= dsData.id %>' method="post" class="mb-4 row g-2">
  <label for="comment" class="col-form-label">Agrega un comentario</label>
  <div class="col-lg">
    <input name="comment" type="text" class="form-control rounded-element" id="comment" />
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-dark rounded-element">Comentar</button>
  </div>
</form>

  <h1>Comments</h1>
  <div>
    <% comments.forEach(function(result){  %>
      <div class="desc-dwnld">
        <div class="user">
          <img src="https://i.pravatar.cc/50" alt="user avatar" />
          <a href=""><span><%= result.username %></span></a>
        </div>
        <span class="text-muted"> <p><%= result.created_at %> </p>  </span>
      </div>
      <p>
        <% result.comment.split(' ').forEach((word) => { %>
          <% if (word.charAt(0) === '@') { %>
            <u><span style="color: blue;"><%= word %></span></u> 
          <% } else { %>
            <%= word %> 
          <% } %>
        <% }); %>
      </p>
    <% }) %>
    </div>
</body>


 <!-- 
<div>
  
  <div class="desc-dwnld">
    <%- include('./usr', {suser: 'usuario1'}); %>
    <span class="text-muted">16/03/2023 - 13:30</span>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ab optio
    assumenda voluptates doloribus, necessitatibus magni. Magnam nisi, a eaque
    assumenda cupiditate voluptates, consequatur repudiandae et, quam quae unde
    necessitatibus?
  </p>
  

  <div class="ms-5">
    <div class="desc-dwnld">
      <%- include('./usr', {suser: 'usuario2'}); %>
      <span class="text-muted">17/03/2023 - 09:21</span>
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, autem.
    </p>
  </div>

  
  <div class="ms-5">
    <form action="/" class="mb-4 row g-2">
      <div class="col-lg">
        <input
          type="text"
          class="form-control rounded-element"
          id="dscomment"
          placeholder="Responder al comentario"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-dark rounded-element">
          Comentar
        </button>
      </div>
    </form>
  </div>
</div>

--> 

